
//Styling for the footer (footer.php)

.footer-style {
    background-color: $main;
    color: #ffffff;
}

// Deletes Bullits from the footer menu
#wrapper-footer {
    ul {
        list-style-type: none;
    }
}
