//an padding fix & settings
#right-sidebar {
    padding: 30px;
    background-color: $secondary;
}

//search fix (default has no padding)
#right-sidebar .widget_search {
    padding-bottom: 30px; //  same as top sidebar 
}

//RESPONSIVE STYLING
@media only screen and (max-width: 575px) {
    #primary {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}