//an padding fix & settings
#right-sidebar {
    padding: 30px;
    background-color: $secondary;
}

//search fix (default has no padding)
#right-sidebar .widget_search {
    padding-bottom: 30px; //  same as top sidebar 
}

.postsbycategory a {
    font-weight: bold;
}

#custom_html-2 {
    margin-top: 1rem;
}

// Deletes Bullits from the sidebar lists
.postsbycategory {
    list-style-type: none;
}

// Twitter Feed space top
.timeline-widget {
    margin-top: 30px !important;
}

//RESPONSIVE STYLING
@media only screen and (max-width: 575px) {
    #primary {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}